.talentIcon > .iconlarge {
    width: 38px;
    height: 38px;
}
.talentIcon > .iconlarge > ins {
    height: 38px;
    width: 38px;
    left: 4px;
    top: 4px;
    border-radius: 4px;
}
.talentIcon > .iconlarge > del {
    height: 44px;
    width: 44px;
    background-repeat: no-repeat;
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 10;
}

.tree-talent-points-db {
    background-color: #000;
    border: #333;
    border-radius: 3px !important;
    color: #787878;
    cursor: pointer;
    font-size: 8px;
    padding: 0 3px;
    user-select: none;
    position: relative;
    top: -10px;
    right: -30px;
    left: auto;
    bottom: 0px;
}

.tree-talent-points-db[data-talented="true"] {
    background-color: #000;
    border: #333;
    border-radius: 3px !important;
    color: rgba(177, 218, 241, 0.8);
    cursor: pointer;
    font-size: 8px;
    padding: 0 3px;
    user-select: none;
    position: relative;
    top: -10px;
    right: -30px;
    left: auto;
    bottom: 0px;
}

.talentIconWrapper {
    filter: grayscale(100%);
}

.talentIconWrapper[data-talented="true"] {
    filter: grayscale(0%);
}