.top100 {
  top:180px;
}

.model3d {
  position: absolute !important;
  width: 98% !important;
  height: 98% !important;
  display: flex;
  flex-direction: column;
}
.model3dx {
  display: absolute;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media only screen and (max-width: 1600px) {
  .model3d {
      visibility: hidden;
  }
}

.paperdoll-text {
  position: relative;
  z-index: 2;
  color: #d6bc76;
  text-shadow: 2px 2px 2px #1c1c1c;
  text-align: center;
  width: 100%;
  left: 0;
  margin: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.paperdoll-card {
  display: flex;
  padding: 1 !important;
  flex-direction: column;
  position: relative;
  
  background-color: #292c31;
  opacity: 1;
  width: 60vw;
  min-width: 510px;
  --color-panel: #292c31;
}

.paperdoll {
  display: flex;
  flex-direction: row; 
  position: relative;
}

.paperdoll-column {
  max-width: calc(50% - .625rem);
  transition: opacity .2s;
  z-index: 1;
}


.paperdoll-bottom {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  height: 55px;
  width: 160px;
}
.center-column {
  flex-grow: 1;
}

.page-container {
  display: flex;
}

.itemSlotRow {
  display: flex;
  width: 100%;
  position: relative;
}

.slot-icon-background {
  display: block;
  position: relative;
  flex-shrink: 0;
  background-size: 52px 52px;
  background-repeat: no-repeat;
  padding-left: 1px;
  padding-right: 1px;
  min-height: 57px;
  min-width: 53px;
  max-height: 57px;
  max-width: 53px;
}

.slot-icon-box {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 4px;
}

.item-name {
    color: transparent;
    margin-bottom: .25rem;
    line-height: 1.2;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    padding-left: .625rem;
    text-decoration: none;
  }

.slot-icon {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  left: 2px;
  top: 2px;
  padding-right: 5px;
  object-fit: cover;
  object-position: -2px -2px;
  border-radius: 4px;
}

.item-details {
  padding-top: .3125rem;
  overflow: hidden;
}

.item-row:first-child.item-details {
  padding-top: 0;
}


.item-enchant {

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: .75rem;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    display: block;
    padding-left: .625rem;
    -webkit-backface-visibility: hidden;
    text-decoration: none;
}
.aligned-right {
  order: 2;
}
.right-itemslot-row {
  text-align: right;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.align-right-name {
  padding-left: 0;
  padding-right: .625rem;
}

.item-name > .iconlarge {
  display: none;
}

.item-enchant > .iconlarge {
  display: none;
}
.iconlarge ins {
  height: 46px;
  width: 46px;
  border-radius: 4px;
  left: 3px;
  top: 3px;
}
.iconlarge del {
  height: 54px;
  width: 54px;
  left: -2px;
  top: -1px;
  background-size: cover;
}