.DropdownMenuContent {
  background-color: #292c3171; /* Transparent gray */
  backdrop-filter: blur(10px); /* Blur effect */
  padding: 8px;
  border-radius: 4px;
  border-style: solid;
  border-color: #292c31;
  border-width: 1px;
  z-index: 100;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  margin-top: 4px; /* Gap between the dropdown and the button */
}

.DropdownMenuItem {
  padding: 4px 8px; /* Reduced padding for shorter items */
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  align-items: center;
  transition: background-color 0.2s ease, opacity 0.2s ease;
  margin-bottom: 4px; /* Gap between items */
  outline: none; /* Remove focus outline */
  opacity: 0.5; /* Default opacity for unselected items */
}

.DropdownMenuItem.selected {
  opacity: 1; /* Full opacity for selected items */
  background-color: transparent; /* Remove background color for selected items */
  color: #000; /* Ensure text color is distinct */
}

.DropdownMenuItem:hover {
  background-color: #0070f3; /* Blue highlight for hover state */
}

.DropdownMenuItem.selected:hover {
  background-color: #0070f3; /* Blue highlight for hover state */
}

.CheckboxRoot {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none; /* Disable pointer events on the root element */
}

.CheckboxIndicator {
  color: white; /* Color for the checkmark */
}

.ClassIcon {
  width: 20px; /* Set a fixed width for the icons */
  height: 20px; /* Set a fixed height for the icons */
  margin-right: 8px; /* Space between icon and text */
}

.ClassItem {
  display: flex;
  align-items: center;
}

.CustomButton {
    background-color: #292c31; /* Transparent gray */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ensure space between text and arrow */
    outline: none; /* Remove focus outline */
  }
  .CustomButton:hover {
    background-color: #3a3d42; /* Darken background on hover */
  }
  
  .DropdownArrow {
    margin-left: 8px; /* Space between text and arrow */
    transition: transform 0.3s ease; /* Smooth transition for rotation */
  }
  
  .DropdownArrow.open {
    transform: rotate(180deg); /* Rotate the arrow when the dropdown is open */
  }

html body {
    overflow: auto !important;
    margin-right: 0px !important;
}